zebra={{enable_zebra}} 
bgpd={{enable_bgpd}} 
ospfd={{enable_ospfd}} 
ospf6d={{enable_ospf6d}} 
ripd={{enable_ripd}} 
ripngd={{enable_ripngd}} 
isisd={{enable_isisd}} 
babeld={{enable_babeld}} 